<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %} {{ page_name }} {% endblock %}</title>

        {% block styles %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
            <link rel="stylesheet" href="style/global.css"/>
        {% endblock %}

        {% block styles_extra %}{% endblock %}

    </head>
    <body>

        {% block nav  %}
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('index') }}">Ola Nordmann</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('news') }}">Nyhetsfeed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('savings') }}">Spareplan</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block header %}
            <div class="row align-items-md-stretch">
                <div class="col">
                    <div class="h-100 p-5 text-white bg-dark text-center">
                        <h2>{{ page_name }}</h2>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
            <script src="script/global.js"></script>
        {% endblock %}

        {% block scripts_extra %}{% endblock %}

    </body>
</html>
